@mixin formStyle($radius, $padding: 16px 30px) {
    width: 100%;
    border: none;
    border-radius: $radius;
    padding: $padding;
    box-shadow: 0 0 24px 2px rgba(223, 223, 223, 0.3);
    background-color: #fff;

    @media (max-width: 1600px) {
        padding: 14px 30px;
    }
}

@mixin scrollStyle {
    &::-webkit-scrollbar {
        width: 4px; /* 스크롤바의 너비 */
    }

    &::-webkit-scrollbar-thumb {
        height: 20%; /* 스크롤바의 길이 */
        border-radius: 2px;
        background: #e4e4e4;
    }
}

/** Input */
.input {
    @include formStyle(60px);

    &::placeholder {
        color: #c6c6c6;
    }
}

/** Button */
.button {
    cursor: pointer;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 60px;
    padding: 14px 30px;
    background-color: #ffd84f;

    /** 라인 버튼 */
    &.lined {
        @for $i from 1 through 3 {
            &--#{$i} {
                border: #{$i}px solid #000;
            }
        }
    }

    /** Secondary 버튼 */
    &.secondary {
        background-color: #ffeeb4;
    }

    /** 체커 버튼 */
    &.checker {
        background-color: #ffeeb4;
        border: 1px solid transparent;
        text-align: right;

        &.active {
            background-color: #ffd84f;
            font-weight: 500;
            border: 1px solid #000;
        }

        .checker-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-checkbox {
                width: 18px;
                height: 18px;
                border: 1px solid #000;
                border-radius: 50%;
                background: url("../../assets/images/check.png") no-repeat center center;
                filter: invert(100%) brightness(0%);

                &.active {
                    border: none;
                    filter: none;
                    background: #000 url("../../assets/images/check.png") no-repeat center center;
                }
            }
        }
    }
}

/** Selectbox */
.selectbox {
    position: relative;
    width: 100%;

    &__opener {
        cursor: pointer;
        @include formStyle(60px);

        display: flex;
        justify-content: space-between;
        align-items: center;

        &-arrow {
            width: 15px;
            height: 15px;
            //opacity: 0.3;
            background: url("../../assets/images/arrow-up.png");
            transform: rotate(0);

            &.active {
                transform: rotate(180deg);
            }
        }

        // 새 대화 셀렉터
        &--newchat {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;

            border-radius: 60px;
            padding: 16px 30px;
            background-color: #ffd84f;
        }
    }

    &__item {
        position: absolute;
        top: 68px;
        width: 100%;
        z-index: 1;

        @include formStyle(26px, 16px 20px);

        &-list {
            overflow-y: scroll;
            @include scrollStyle;

            > li {
                cursor: pointer;
                padding: 12px;
            }
        }

        // 새 대화 셀렉터
        &--newchat {
            top: 14px;

            > li {
                cursor: pointer;
                padding: 12px;
            }
        }
    }
}

/** Radio */
.radio {
    &-list {
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-items: center;
    }

    &-button {
        display: grid;
        grid-template-columns: auto 1fr; //해당 열에 포함된 콘텐츠의 너비에 맞춰 자동으로 설정

        label {
            display: flex;
            align-items: center;
            gap: 26px;
            cursor: pointer;
        }

        input[type="radio"] {
            cursor: pointer;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 2px solid #e0e0e0;
            appearance: none;

            &:checked {
                border: none;
                background: #000 url("../../assets/images/check.png") no-repeat center center;
            }
        }
    }
}

/** Checkbox */
.checkbox {
    label {
        display: flex;
        align-items: center;
        gap: 26px;
        cursor: pointer;
    }

    input[type="checkbox"] {
        cursor: pointer;
        width: 18px;
        height: 18px;
        border-radius: 6px;
        border: 2px solid #e0e0e0;
        appearance: none;

        &:checked {
            border: none;
            background: #000 url("../../assets/images/check.png") no-repeat center center;
        }
    }
}
