@mixin iconStyle($url) {
    background: url($url) no-repeat;
    width: 25px;
    height: 25px;
    opacity: 0.7;
}

@mixin scrollStyle {
    &::-webkit-scrollbar {
        width: 4px; /* 스크롤바의 너비 */
    }

    &::-webkit-scrollbar-thumb {
        height: 20%; /* 스크롤바의 길이 */
        border-radius: 2px;
        background: #e4e4e4;
    }
}

.chatboard {
    height: 100vh;

    &__inner {
        height: 100%;
        padding: 20px 56px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__toolbar {
                display: flex;
                align-items: center;
                gap: 36px;

                &--user {
                    display: flex;
                }

                &--menu {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 36px;

                    &::before {
                        content: "";
                        height: 20px;
                        width: 3px;
                        background-color: rgb(230, 230, 230);
                    }

                    .menu-share {
                        @include iconStyle("../../assets/images/share.png");
                    }

                    .menu-setting {
                        @include iconStyle("../../assets/images/setting.png");
                    }

                    .menu-close {
                        @include iconStyle("../../assets/images/close.png");
                    }
                }
            }
        }

        .content {
            height: calc(100% - 40px);

            &__wrapper {
                height: 100%;
                margin: 34px 0;
            }

            &__body {
                &--chat {
                    display: flex;
                    flex-direction: column;
                    height: 760px;
                    padding-right: 40px;
                    overflow-y: scroll;
                    @include scrollStyle;

                    &--noti {
                        display: flex;
                        justify-content: center;
                        color: #c7c7c7;
                        margin: 20px;
                    }

                    > ul {
                        display: flex;
                        flex-direction: column;
                        // gap: 10px;
                        width: 100%;

                        .chatting__item {
                            display: flex;
                            align-items: center;
                            flex-direction: row-reverse;
                            gap: 50px;
                            padding: 14px;

                            // 나의 말풍선
                            &.my {
                                flex-direction: row;

                                .chatting__item--user .profile {
                                    background-color: #ffd12b;
                                }

                                .chatting__item--text {
                                    &::before {
                                        display: none;
                                    }

                                    &::after {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: -20px;
                                        transform: translate(0, -50%);
                                        width: 0;
                                        height: 0;
                                        border-top: 14px solid transparent;
                                        border-bottom: 14px solid transparent;
                                        border-right: 20px solid #fff;
                                    }
                                }
                            }

                            &--user {
                                display: flex;

                                .profile {
                                    width: 45px;
                                    height: 45px;
                                    background: url("../../assets/images/profile.png") no-repeat;
                                    background-color: #4f60ff;
                                    background-position: center;
                                    border-radius: 50%;
                                    box-shadow: 0 0 8px 3px rgba(194, 194, 194, 0.4);
                                }
                            }

                            &--text {
                                position: relative;
                                display: flex;
                                flex-direction: row;
                                gap: 26px;

                                padding: 30px 40px;
                                background-color: #fff;
                                border-radius: 28px;
                                box-shadow: 0 0 26px 8px rgba(199, 199, 199, 0.1);

                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    right: -20px;
                                    transform: translate(0, -50%);
                                    width: 0;
                                    height: 0;
                                    border-top: 14px solid transparent;
                                    border-bottom: 14px solid transparent;
                                    border-left: 20px solid #fff;
                                }

                                // 말풍선
                                .text-item {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 14px;

                                    &--audio-text {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 10px;
                                        padding-bottom: 16px;
                                        border-bottom: 1px solid #ebebeb;

                                        .trans {
                                            color: #b4b4b4;
                                        }
                                    }

                                    &--translation-text {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 8px;

                                        > span {
                                            display: flex;
                                            gap: 2px;
                                            //background-color: #ffd12b;
                                            background-color: #e8e8e8;
                                            padding: 0px 11px 0px 5px;
                                            border-radius: 16px;
                                            width: fit-content;
                                            align-items: center;

                                            &::before {
                                                content: "";
                                                background: url("../../assets/images/translation.png") no-repeat center;
                                                width: 29px;
                                                height: 25px;
                                            }
                                        }
                                    }
                                }

                                // 음성 인식 시작 버튼
                                .starter {
                                    width: auto;
                                    background-color: #e4e4e4;
                                    padding: 5px 20px;
                                }
                            }
                        }
                    }
                }

                &--button {
                    width: 240px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
