@mixin scrollStyle {
    &::-webkit-scrollbar {
        width: 4px; /* 스크롤바의 너비 */
    }

    &::-webkit-scrollbar-thumb {
        height: 20%; /* 스크롤바의 길이 */
        border-radius: 2px;
        background: #e4e4e4;
    }
}

.dashboard {
    height: 100vh;

    &__inner {
        height: 100%;
        padding: 20px 56px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__profile-item {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            &__profile-image {
                width: 60px;
                height: 60px;
                background: url("../../assets/images/profile.png") no-repeat #ffd12b;
                background-position: center;
                border-radius: 50%;
            }
        }

        .content {
            align-items: center;
            height: calc(100% - 60px);
            text-align: center;

            display: grid;
            grid-template-columns: 1fr 5fr 1fr;
            grid-template-rows: auto;

            &__wrapper {
                display: flex;
                flex-direction: column;
                gap: 60px;

                &-nav {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    &:last-child {
                        justify-content: flex-end;
                    }
                }
            }

            &__title {
                > :first-child {
                    margin-bottom: 12px;
                }
            }

            &__body {
                /* 언어 옵션 */
                &--language {
                    height: 410px;
                    padding-right: 40px;
                    overflow-y: scroll;
                    @include scrollStyle;

                    &-list {
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        grid-template-rows: auto;
                        gap: 12px;
                    }
                }

                /* 디스플레이 옵션 */
                &--display {
                    margin: 0 120px;

                    &-list {
                        display: flex;
                        justify-content: space-around;
                        gap: 12px;
                    }
                }

                /* 대화 설정 옵션 */
                &--setting {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    text-align: left;
                }
            }

            &__item {
                width: 100%;
            }
        }
    }
}
