.navigation {
    cursor: pointer;
    width: 80px;
    height: 80px;
    background: url("../../../assets/images/navigation.png") no-repeat;
    z-index: 1;

    &.right {
        transform: rotate(180deg);
    }
}
