@mixin formGridStyle {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 42px;
    align-items: center;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 30px 4px rgba(175, 175, 175, 0.3);
    border-radius: 20px;
    padding: 40px;
    z-index: 1;

    &__icon {
        > span {
            position: absolute;
            top: 0;
            left: 50%;
            width: 76px;
            height: 76px;
            background: url("../assets/images/notice.png");
            transform: translate(-50%, -50%);
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #ebebeb;

        &--button {
            display: flex;
            justify-content: flex-end;

            .close-btn {
                cursor: pointer;
                display: block;
                background: url("../assets/images/close.png") no-repeat center;
                width: 16px;
                height: 16px;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 10px;

        &--form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            // TODO 세팅 화면 설정 레이아웃과 동일
            .form {
                &__item {
                    @include formGridStyle;

                    &--password {
                        @include formGridStyle;
                        > div {
                            display: grid;
                            grid-template-columns: 1fr 4fr;
                            align-items: center;
                        }

                        &-group {
                            display: grid;
                            grid-template-columns: 1fr 3fr;
                            align-items: center;

                            > span {
                                display: flex;
                                align-items: center;

                                &::before {
                                    content: "|";
                                    font-size: 22px;
                                    margin-left: 4px;
                                    margin-right: 38px;
                                    color: #e0e0e0;
                                }
                            }
                        }
                    }
                }
            }
        }

        &--btn {
            display: flex;
            flex-direction: row;
            gap: 14px;

            // 세팅 팝업 (width: 40%)
            &--setting {
                display: flex;
                flex-direction: row;
                gap: 14px;
                width: 40%;
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }
}
