@mixin formGridStyle {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 48px;
    align-items: center;
}

// 팝업
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 30px 4px rgba(175, 175, 175, 0.3);
    border-radius: 20px;
    padding: 40px;
    z-index: 1;

    &__icon {
        > span {
            position: absolute;
            top: 0;
            left: 50%;
            width: 76px;
            height: 76px;
            background: url("../assets/images/notice.png");
            transform: translate(-50%, -50%);
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #ebebeb;

        &--button {
            display: flex;
            justify-content: flex-end;

            .close-btn {
                cursor: pointer;
                display: block;
                background: url("../assets/images/close.png") no-repeat center;
                width: 16px;
                height: 16px;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 10px;

        &--form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            // TODO 세팅 화면 설정 레이아웃과 동일
            .form {
                &__item {
                    @include formGridStyle;
                    &-wrapper {
                        display: flex;
                        align-items: center;
                        gap: 16px;

                        .re-check {
                            display: flex;

                            background: url("../assets/images/recheck.png") no-repeat center;
                            width: 25px;
                            height: 25px;
                            content: "";
                        }
                    }

                    &--password {
                        @include formGridStyle;
                        > div {
                            display: grid;
                            grid-template-columns: 1fr 4fr;
                            align-items: center;
                        }

                        &-group {
                            display: grid;
                            grid-template-columns: 1fr 3fr;
                            align-items: center;

                            > span {
                                display: flex;
                                align-items: center;

                                &::before {
                                    content: "|";
                                    font-size: 22px;
                                    margin-left: 4px;
                                    margin-right: 38px;
                                    color: #e0e0e0;
                                }
                            }
                        }
                    }
                }
            }
        }

        &--btn {
            display: flex;
            flex-direction: row;
            gap: 14px;

            // 세팅 팝업 (width: 40%)
            &--setting,
            &--login {
                display: flex;
                flex-direction: row;
                gap: 14px;
                width: 40%;
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }
}

// 로딩 닷
.loading-wrap {
    .loading {
        display: flex;
        align-items: center;
        width: 96px;
        height: 20px;
        margin: 0 auto;
        text-align: center;

        &.dot {
            div {
                width: 20px;
                height: 20px;
                margin: auto;
                border-radius: 10px;
                background-color: #ffd84f;
                transform: scale(0);
                animation: dot 1.5s linear infinite;
                text-indent: -9999em;

                &:nth-child(1) {
                    left: -50px;
                    animation-delay: -0.1s;
                }
                &:nth-child(3) {
                    right: -50px;
                    animation-delay: 0.1s;
                }
            }
        }
    }
}

@keyframes dot {
    0% {
        transform: scale(0);
    }
    35% {
        transform: scale(0.5);
    }
    70% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

// 스피너
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        &--bar {
            width: 80px;
            height: 80px;
            border: 8px solid #ffd84f;
            border-top: 10px solid #f3f3f3;
            border-radius: 50%;
            animation: rotate 1s linear infinite;
        }
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
