/** 폰트 스타일 */

.typo {
    &.yello-100 {
        color: #ffeeb4;
    }

    &.yello-200 {
        color: #ffc700;
    }

    @for $i from 12 through 80 {
        &.t#{$i} {
            font-size: #{$i}px;

            @media (max-width: 1600px) {
                font-size: #{calc(#{$i}px - 1px)};
            }

            @media (max-width: 1024px) {
                font-size: #{calc(#{$i}px - 2px)};
            }
        }
    }

    @for $i from 500 through 700 {
        &.w#{$i} {
            font-weight: $i;
        }
    }

    @for $i from 1 through 200 {
        &.mt#{$i} {
            margin-top: #{$i}px;
        }

        &.mb#{$i} {
            margin-bottom: #{$i}px;
        }

        &.ml#{$i} {
            margin-left: #{$i}px;
        }

        &.mr#{$i} {
            margin-right: #{$i}px;
        }
    }
}
